@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.clock {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh; 
  margin-bottom: 30px;
}

.time, .date {
  font-size: 18px; 
}


club-list {
  display: block;
  margin-top: 32px;
  width: 100%;
  padding: 16px;
}
